
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit

{% endblock %}
{% block content %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
	
	<form action="/question6b" method="post">

{{ govukBackLink({
  text: "Back",
  href: "question4a"
}) }}
		<h1 class="govuk-heading-xl">What capital does the client have?</h1>
		<p class="govuk-body-l">Do not include:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>Subject matter of dispute - (exemption limited to £100,000 for certain levels of service) </li>
			<li>Household furniture and effects (unless exceptional value)</li>
			<li>Clothes, Tools of trade</li>
		</ul>
		<table class="govuk-table">
		  <thead class="govuk-table__head">
			<tr class="govuk-table__row">
			  <th class="govuk-table__header" scope="col">Capital</th>
			  <th class="govuk-table__header" scope="col">Amount</th>
			 </tr>
		  </thead>
		  <tbody class="govuk-table__body">
			<tr class="govuk-table__row">
				<div class="govuk-form-group">
					<th class="govuk-table__header" scope="row">
						<label class="govuk-label" for="equity">
							Equity in home above £100,000
						</label>
						<span id="national-insurance-number-hint" class="govuk-hint">
							After allowing up to £100,000 for mortgage(s) outstanding
						</span>
					</th>
					<td class="govuk-table__cell ">
						<input class="govuk-input govuk-input--width-4" id="equity" name="equity" type="number" pattern = "[0-9]*">
					</td>
				</div>
			</tr>
			<tr class="govuk-table__row">
				<div class="govuk-form-group">
					<th class="govuk-table__header" scope="row">
						<label class="govuk-label" for="savings">
							Savings
						</label>
						<span id="national-insurance-number-hint" class="govuk-hint">
							Bank, building society, <i>etc</i>
						</span>
					</th>
					<td class="govuk-table__cell ">
						<input class="govuk-input govuk-input--width-4" id="savings" name="savings" type="number" pattern = "[0-9]*">
					</td>
					</div>
			</tr>
			<tr class="govuk-table__row">
				<div class="govuk-form-group">
					<th class="govuk-table__header" scope="row">
						<label class="govuk-label" for="investments">
							Investments
						</label>
						<span id="national-insurance-number-hint" class="govuk-hint">
							Including shares and insurance policies
						</span>
					</th>
					<td class="govuk-table__cell ">
						<input class="govuk-input govuk-input--width-4" id="investments" name="investments" type="number">
					</td>
				</div>
			</tr>
			<tr class="govuk-table__row">
				<div class="govuk-form-group">
					<th class="govuk-table__header" scope="row">
						<label class="govuk-label" for="valuables>
							Valuable items
						</label>
						<span id="national-insurance-number-hint" class="govuk-hint">
							For example, boat, caravan, jewellery
						</span>
					</th>
					<td class="govuk-table__cell ">
						<input class="govuk-input govuk-input--width-4" id="valuables" name="valuables" type="number">
					</td>
				</div>
			</tr>
			<tr class="govuk-table__row">
				<div class="govuk-form-group">
					<th class="govuk-table__header" scope="row">
						<label class="govuk-label" for="other">
							Other capital
						</label>
						<span id="national-insurance-number-hint" class="govuk-hint">
							Including money due to the client
						</span>
					</th>
					<td class="govuk-table__cell ">
						<input class="govuk-input govuk-input--width-4" id="other" name="other" type="number">
					</td>
				</div>
			</tr>
		  </tbody>
		</table>
		<button type="submit" class="govuk-button">
			Next
		</button>
	
   	</form>
    </div>
</div>

{% endblock %}